html{
	background-color: white;
}
*{
	margin:0px;
}
p{
	text-align: justify;
	font-family: Trebuchet MS;
	color: #6495ED;
}
a{
	text-decoration-line: none;
	color: white;
	text-align: center;
}
#op{
	display: inline-block;
	box-sizing: border-box;
	margin-top: 15px;
	margin-bottom: 25px;
	width: 100%;
}
#btn{
	background-color: #E9967A;
	padding: 15px;
	border: 2px solid white;
	font-family: monospace;
	font-weight: 700;
}
#btn:hover{
	background-color: white;
	color: #E9967A;
	padding: 15px;
	border: 2px solid white;
}
.titulo{
	background-color: #E9967A;
	padding: 30px;
	color: white;
	font-family: monospace;
	font-size: 40px;
	margin-bottom: 0px;
}
#tres{
	width: 5%;
	position: absolute;
	top: 30%;
	right: 75%;


}
#cuatro{
	position: absolute;
	width: 4%;
	top: 30%;
	right: 25%;

}
#uno{
	width:50%;
	left: 18%;
	top: 34%;
	padding: 3%;
	margin: auto;
	position: absolute;
	z-index: 2;
	display: none;
}
#dos{
	width: 90%;
	padding: 20%;
	left:  1%; 
	margin: auto;
	position: absolute;
	z-index: 1;
	/*display: none;*/
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9{
	width:35%;
	height: 50%;
	left:30%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 4px;
    position: absolute;
    /*display: none;*/
  
   
}

