body{
	margin: 20px;
	background-color: #7FD9D6;
}
*{
	color: white;
	font-family: monospace;
	font-size: 17px;
}
#barra, #barr{
	color: #EDE868;
	background-color: white;

}
#titulo{
	background-color: #EDE868;
}

button{
	background-color: #9DC39C;
	color: black;
	margin-top: 8px;
	border: 1px white;
}
#uno, #dos{
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: 35px;
	text-align: center;
	visibility: hidden;
}
#img1, #img2{
	visibility: hidden;
}