body{
	margin: 20px;
	background-color: #B5AFBC;
}
*{
	color: white;
	font-family: monospace;
	font-size: 17px;
}
#barra, #barr{
	color: #F9E5DA;
	background-color: white;

}
#titulo{
	background-color: #F9E5DA;
}
#img1, #img2{
  visibility: hidden;
  margin-bottom: 8px;
}
#btn_1, #btn_2{
	background-color: white;
	color: black;
	border: 1px white; 
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px;
}
	
#prrf_1, #prox{
	background-color: #F3DECA;
}


