body{
	margin: 20px;
	background-color: #3D6E8D;
}
*{
	color: white;
	font-family: monospace;
	font-size: 17px;
}
#barra, #barr{
	color: #CCDA9C;
	background-color: white;

}
#titulo{
	background-color: #CCDA9C;
}
h2{
	text-align: center;
}
#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8{
	visibility: hidden;

}

