body{background-image:url(https://image.freepik.com/foto-gratis/fondo-papel-viejo-vendimia-grunge_1373-431.jpg);
	background-size: 100%;
}
p{
	font-family: "comic sans ms";
	font-size: 20px;
	color: black;
}
#titulo{
	background-color: #E9967A;
	color: white;
	text-align: center;
	width: 99%;
	font-family: "comic sans ms";
	padding: 30px;
	
}
button{
	background-color: #E9967A;
	color: white;
	border: 1px solid white;
}
button:hover{
	background-color: white ;
	color: #E9967A;
}
#pr1{
	 position: absolute;
	 width: 150px;
	 height: 50px;
	 top: 18%;
	 right: 65%;
	 font-family: "comic sans ms";
	 font-size: 15px;
	 visibility: hidden;
}
#pr2{
	position: absolute;
	width: 150px;
	height: 50px;
	top: 18%;
	font-family: "comic sans ms";
	font-size: 15px;
	right: 25%;
    visibility: visible;
}
#boton3,#boton4,#boton5,#boton6,#boton7,#boton8,#boton9,#boton10{
	position: absolute;
	width: 150px;
	height: 50px;
	top: 18%;
	font-family: "comic sans ms";
	font-size: 15px;
	right: 25%;
}
#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10{
	position: absolute;
	width: 150px;
	height: 50px;
	top: 18%;
	right: 65%;
	font-family: "comic sans ms";
	font-size: 15px;
	
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9{
	width:90%;
	height:320px;
	left:5%;
	top: 30%;
	margin-left: 6px;
    visibility: hidden;
    position: absolute;
      
}
#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9{
	width:40%;
	height:380px;
	top: 390px;
	left: 28%;
	position: absolute;
}
#boton3{
	visibility: hidden;
}
#boton4{
 visibility: hidden;
}
#boton5{
 visibility: hidden;
}
#boton6{
 visibility: hidden;
}
#boton7{
 visibility: hidden;
}
#boton8{
 visibility: hidden;
}
#boton9{
 visibility: hidden;
}
#boton10{
 visibility: hidden;
}
#a2{
	visibility: hidden;
}
#a3{
 visibility: hidden;
}
#a4{
 visibility: hidden;
}
#a5{
 visibility: hidden;
}
#a6{
 visibility: hidden;
}
#a7{
 visibility: hidden;
}
#a8{
 visibility: hidden;
}
#a9{
	visibility: hidden;
}
#a10{
	visibility: hidden;
}
#p1{
	visibility: hidden;
}
#p2{
 visibility: hidden;
}
#p3{
 visibility: hidden;
}
#p4{
 visibility: hidden;
}
#p5{
 visibility: hidden;
}
#p6{
 visibility: hidden;
}
#p7{
 visibility: hidden;
}
#p8{
 visibility: hidden;
}
#p9{
 visibility: hidden;
}
#img1{
 visibility: hidden;
}
#img2{
 visibility: hidden;
}
#img3{
 visibility: hidden;
}
#img4{
 visibility: hidden;
}
#img5{
 visibility: hidden;
}
#img6{
 visibility: hidden;
}
#img7{
 visibility: hidden;
}
#img8{
 visibility: hidden;
}
#img9{
 visibility: hidden;
}